<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="alipayFundAuthOrderAppFreezeModel">
            <h2><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.detail.title">Alipay Fund Auth Order App Freeze Model</span> {{alipayFundAuthOrderAppFreezeModel.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.orderTitle">Order Title</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.orderTitle}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.outOrderNo">Out Order No</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.outOrderNo}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.outRequestNo">Out Request No</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.outRequestNo}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.payeeUserId">Payee User Id</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.payeeUserId}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.payeeLogonId">Payee Logon Id</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.payeeLogonId}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.productCode">Product Code</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.productCode}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.amount">Amount</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.amount}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.extraParam">Extra Param</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.extraParam}}</span>
                </dd>
                <dt><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeModel.notifyUrl">Notify Url</span></dt>
                <dd>
                    <span>{{alipayFundAuthOrderAppFreezeModel.notifyUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/alipay-fund-auth-order-app-freeze-model-rs', alipayFundAuthOrderAppFreezeModel.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
