<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pcr-rs-heading" jhiTranslate="rsApp.pcr.home.createOrEditLabel">Create or edit a Pcr</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.parentId" for="field_parentId">Parent Id</label>
                    <input type="number" class="form-control" name="parentId" id="field_parentId"
                           formControlName="parentId"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.alias" for="field_alias">Alias</label>
                    <input type="text" class="form-control" name="alias" id="field_alias"
                           formControlName="alias"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.level" for="field_level">Level</label>
                    <input type="number" class="form-control" name="level" id="field_level"
                           formControlName="level"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.phoneAreaCode" for="field_phoneAreaCode">Phone Area Code</label>
                    <input type="text" class="form-control" name="phoneAreaCode" id="field_phoneAreaCode"
                           formControlName="phoneAreaCode"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.zip" for="field_zip">Zip</label>
                    <input type="number" class="form-control" name="zip" id="field_zip"
                           formControlName="zip"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.pcr.pinyin" for="field_pinyin">Pinyin</label>
                    <input type="text" class="form-control" name="pinyin" id="field_pinyin"
                           formControlName="pinyin"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
