<div>
    <h2 id="page-heading">
        <span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.home.title">Alipay Fund Auth Order App Freeze Responses</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-alipay-fund-auth-order-app-freeze-response-rs" [routerLink]="['/alipay-fund-auth-order-app-freeze-response-rs/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.home.createLabel">
            Create a new Alipay Fund Auth Order App Freeze Response
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="alipayFundAuthOrderAppFreezeResponses?.length === 0">
        <span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.home.notFound">No alipayFundAuthOrderAppFreezeResponses found</span>
    </div>
    <div class="table-responsive" *ngIf="alipayFundAuthOrderAppFreezeResponses?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.amount">Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="authNo"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.authNo">Auth No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creditAmount"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.creditAmount">Credit Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fundAmount"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.fundAmount">Fund Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gmtTrans"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.gmtTrans">Gmt Trans</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="operationId"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.operationId">Operation Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="outOrderNo"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.outOrderNo">Out Order No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="outRequestNo"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.outRequestNo">Out Request No</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="payerUserId"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.payerUserId">Payer User Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="preAuthType"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.preAuthType">Pre Auth Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span jhiTranslate="rsApp.alipayFundAuthOrderAppFreezeResponse.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let alipayFundAuthOrderAppFreezeResponse of alipayFundAuthOrderAppFreezeResponses ;trackBy: trackId">
                <td><a [routerLink]="['/alipay-fund-auth-order-app-freeze-response-rs', alipayFundAuthOrderAppFreezeResponse.id, 'view' ]">{{alipayFundAuthOrderAppFreezeResponse.id}}</a></td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.amount}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.authNo}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.creditAmount}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.fundAmount}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.gmtTrans}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.operationId}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.outOrderNo}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.outRequestNo}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.payerUserId}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.preAuthType}}</td>
                <td>{{alipayFundAuthOrderAppFreezeResponse.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/alipay-fund-auth-order-app-freeze-response-rs', alipayFundAuthOrderAppFreezeResponse.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/alipay-fund-auth-order-app-freeze-response-rs', alipayFundAuthOrderAppFreezeResponse.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/alipay-fund-auth-order-app-freeze-response-rs', { outlets: { popup: alipayFundAuthOrderAppFreezeResponse.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="alipayFundAuthOrderAppFreezeResponses?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
