<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-shipping-address-rs-heading" jhiTranslate="rsApp.shippingAddress.home.createOrEditLabel">Create or edit a Shipping Address</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.shippingAddress.receiver" for="field_receiver">Receiver</label>
                    <input type="text" class="form-control" name="receiver" id="field_receiver"
                           formControlName="receiver"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.shippingAddress.moblie" for="field_moblie">Moblie</label>
                    <input type="text" class="form-control" name="moblie" id="field_moblie"
                           formControlName="moblie"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.shippingAddress.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.shippingAddress.pcr" for="field_pcr">Pcr</label>
                    <select class="form-control" id="field_pcr" name="pcr" formControlName="pcr">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pcrOption.id === editForm.get('pcr').value?.id ? editForm.get('pcr').value : pcrOption" *ngFor="let pcrOption of pcrs; trackBy: trackPcrById">{{pcrOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="rsApp.shippingAddress.alipayUser" for="field_alipayUser">Alipay User</label>
                    <select class="form-control" id="field_alipayUser" name="alipayUser" formControlName="alipayUser">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="alipayUserOption.id === editForm.get('alipayUser').value?.id ? editForm.get('alipayUser').value : alipayUserOption" *ngFor="let alipayUserOption of alipayusers; trackBy: trackAlipayUserById">{{alipayUserOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
